.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 .625rem 1.5625rem rgba(0, 0, 0, .3);
    backdrop-filter: blur(30px);
    padding: 1rem;
}

.header .title {
    text-align: center;
    font-family: 'Supreme', sans-serif;
}

.header .photo {
    width: 12rem;
    height: 12rem;
    box-shadow: 0 .625rem 1.5625rem rgba(0, 0, 0, .3);
border-radius: 50%;
}

.datas {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;

}

.datas p {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: .5rem;
    font-size: .9rem;
}

.datas p::before {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: .5rem;
}

.datas .job::before {
    background-image: url(/assets/img/icons/job.svg);

}

.datas .location::before {
    background-image: url(/assets/img/icons/location.svg);

}

.datas .email::before {
    background-image: url(/assets/img/icons/email.svg);

}

@media only screen and (max-width: 768px) {
    .header .datas {
        align-items: center;
    }
}

@media only screen and (min-width: 768px) {
    .header {
        display: grid;
        grid-template-areas:
            "photo title"
            "photo datas"
        ;

    }

    .header .photo {
        grid-area: photo;
        margin: 0 auto;
    }

    .header .title {
        grid-area: title;
        text-align: start;
        max-width: 290px;
        margin: 0 auto;
    }

    .header .datas {
        grid-area: datas;
        text-align: start;
        max-width: 300px;
        margin: 0 auto;
    }
    .header .datas p {
        font-size: 1rem;
    }

}